.backgroundPane{
    -fx-background-color: #0b6b75;
}



.upperAnchorPane{
    -fx-background-color: #0b6b75;
}



.tab{
    -fx-background-color: #0b6b75;
    -fx-background-radius: 25 25 0 0;
    -fx-background-insets: 0;
}

.tab .tab-label{
    -fx-background-color: TRANSPARENT;
    -fx-alignment: CENTER;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #E9E0D9;
}

.tab-pane .tab-header-background{
    -fx-background-color: #0b6b75;
}

.tab-pane .tab-header-area{
   -fx-padding: 1em 0 0 28em;

}

.tab:selected{
    -fx-background-color: #E9E0D9;

}

.tab:selected .focus-indicator{
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
}

.tab:selected .tab-label{
    -fx-text-fill: #0b6b75;
}

.AnchorPanes{
    -fx-background-color: WHITE;
    -fx-background-radius: 30;
}

.buttons{
    -fx-background-color: #0b6b75;
    -fx-background-radius: 8;
}

.text-field{
    -fx-border-width: 2px;
    -fx-border-color: #0b6b75;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.split-menu-button{
    -fx-border-color: #0b6b75;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.split-menu-button .arrow-button {
    -fx-background-color: WHITE;
    -fx-border-color: #0b6b75;
    -fx-border-radius: 0 7 7 0;
    -fx-background-radius: 0 7 7 0;
}

.split-menu-button .label{
    -fx-background-color: WHITE;
    -fx-text-fill: #565656;
    -fx-border-color: #0b6b75;
    -fx-border-radius: 7 0 0 7;
    -fx-background-radius: 7 0 0 7;
}

.label{
    -fx-text-fill: #565656;

}